/EjerciciosJava/1. Variables/1.EjerciciosVariables/nbproject/private/
/EjerciciosJava/2. Condicionales/2.EjerciciosCondicionales/nbproject/private/
/EjerciciosJava/3. Ciclos/3.EjericiciosCiclos/nbproject/private/
/EjerciciosJava/4. Arreglos/4.EjerciciosArreglos/nbproject/private/